%extend_base {
  background: $white;
  width: 100%;
  height: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: $font_0, $font_1;
}

html {
  @extend %extend_base;
}
body {
  @extend %extend_base;
  overflow-x: hidden;
}
img {
  //Instead of the line below you could use @include user-select($select)
  user-select: none;
  user-drag: none;
}

::selection {
  background-color: $color_cararra_approx;
}

a {
  text-decoration: none;
  outline: none;
  &:hover {
    text-decoration: none;
    outline: none;
  }
  &:active {
    text-decoration: none;
    outline: none;
  }
  &:focus {
    text-decoration: none;
    outline: none;
  }
  &.timeline-image img:hover {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scale(1.2);
  }
}
h1 {
  font-family: $font_2, $font_1;
  font-weight: 100;
}
h2 {
  font-family: $font_2, $font_1;
  font-weight: 100;
}
h3 {
  font-family: $font_2, $font_1;
  font-weight: 100;
}
h4 {
  font-family: $font_2, $font_1;
  font-weight: 100;
}
h5 {
  font-family: $font_2, $font_1;
  font-weight: 100;
}
h6 {
  font-family: $font_2, $font_1;
  font-weight: 100;
}

p {
  margin: 0 0 5px;
}

ol {
  list-style: none;
  padding: 0;
  &.flex-control-nav {
    bottom: 15px;
    position: absolute;
    z-index: 2;
  }
}