@-webkit-keyframes BackgroundAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 9600px 0;
  }
}
@-moz-keyframes BackgroundAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 9600px 0;
  }
}
@-ms-keyframes BackgroundAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 9600px 0;
  }
}