@import "lib/all-lib";
@import "base/all-base";
@import "layout/all-layout";
@import "module/all-module";

.btn {
  outline: none;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.4s;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
.condensed {
  font-family: $font_3, $font_1;
}
.fancy {
  font-family: $font_4, $font_5;
}
.animated {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

.pagelanding-zone {
  position: absolute;
  top: 47%;
  left: 49%;
  text-align: center;
  color: $color_alto_approx;
  &:before {
    content: "\f013";
    font-size: 3em;
  }
  h2 {
    color: $color_celeste_approx;
    margin: 0 auto;
    font-size: 20px;
  }
}

.inner {
  width: 100%;
  height: auto;
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
  padding: 75px 0;
  text-align: center;
  &:after {
    clear: both;
  }
}
.fullwidth {
  width: 100%;
  max-width: 100%;
}
.transparent {
  background: transparent !important;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.header {
  width: 100%;
  height: auto;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}
.t-left {
  text-align: left !important;
}
.t-center {
  text-align: center !important;
}
.t-right {
  text-align: right !important;
}
.p-right {
  padding-right: 15px !important;
}
.p-left {
  padding-left: 15px !important;
}
.h-desc {
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  margin: 20px auto;
  max-width: 900px;
  line-height: 24px;
}
.extrabold {
  font-weight: 800;
}
.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 600;
}
.normal {
  font-weight: 400;
}
.light {
  font-weight: 100;
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.white {
  color: $white;
}
.black {
  color: $black;
}
.gray1 {
  color: $color_gallery_approx;
}
.gray2 {
  color: $color_mountain_mist_approx;
}
.gray3 {
  color: $color_woodsmoke_approx;
}
.gray4 {
  color: $color_mine_shaft_approx;
}
.colored {
  color: $color_curious_blue_approx;
}
.colored-bg {
  background-color: $color_curious_blue_approx;
}
.gray-border {
  border-color: $color_gallery_approx;
}
.colored-border {
  border-color: $color_curious_blue_approx;
}
.colored-border-left {
  border-left-color: $color_curious_blue_approx;
}
.colored-border-right {
  border-right-color: $color_curious_blue_approx;
}
.white-bg {
  background-color: $white !important;
}
.gray-bg {
  background-color: $color_wild_sand_approx !important;
}
.semidarkgray-bg {
  background-color: $color_emperor_approx !important;
}
.darkgray-bg {
  background-color: $color_mine_shaft_approx !important;
}
.black-bg {
  background-color: 222222 !important;
}
.texture-bg {
  background: $color_mine_shaft_approx $url_6 repeat;
}

.home {
  background: $url_7 center center fixed;
  position: relative;
  background-size: 100%;
  &:after {
    clear: both;
  }
}
.home-animated {
  background-image: $url_8;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed !important;
  background-repeat: repeat;
}
.hometexts-1 {
  font-size: 75px;
  height: auto;
  color: $white;
  line-height: 85px;
  .slide-text-1 {
    margin-bottom: 0;
    margin-top: 0.5em;
    width: auto;
    padding: 0;
  }
}
.home-button {
  display: inline-block;
  background: $black_30;
  border: 1px solid $black_30;
  padding: 9px 22px;
  margin: 0 5px;
  font-size: 12px;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.5s;
  color: $color_alto_approx;
  &:hover {
    border: 1px solid $white_80;
    background: $white_80;
    color: $black;
  }
}
.home-details {
  width: 90%;
  margin: 0 auto;
  height: auto;
  max-width: 1170px;
  top: 50%;
  position: relative;
  text-align: center;
  z-index: 10;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translateY(-50%);
}
.slide-text {
  margin: 3px auto 0;
  li:last-child {
    clear: both;
  }
}
.hometext {
  width: 100%;
  height: auto;
  color: $white;
  font-size: 125px;
  line-height: 110px;
}
.fixed-text {
  font-size: 66px;
  color: $white;
  margin: 0;
}
.h-item {
  color: $color_gallery_approx;
  padding: 5px 20px 5px 13px;
  width: auto;
  font-size: 13px;
  background: $url_9 right center no-repeat;
  display: inline-block;
}
.home-arrow {
  display: block;
  color: $color_pink_swan_approx;
  width: 150px;
  margin: 10px auto;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.5s;
  span {
    display: block;
    margin: 5px auto;
  }
  &:hover {
    color: $white;
  }
}
.home-details-tb {
  width: 100%;
  margin: 0 auto;
  height: auto;
  top: 50%;
  text-align: center;
  z-index: 10;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translateY(-50%);
  .home-details-inner {
    max-width: 90%;
    margin: 0 auto;
  }
}
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  top: 45%;
  width: 100%;
  z-index: 20;
  a {
    position: absolute;
    display: block;
    width: 36px;
    height: 81px;
    background: $url_14;
    opacity: 0;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.5s;
    &.prev {
      left: 2%;
      background-position: left;
      cursor: $url_15, default;
    }
    &.next {
      right: 2%;
      background-position: right;
      cursor: $url_16, default;
    }
    &:hover {
      opacity: 1 !important;
    }
  }
}

.bio-box {
  text-align: center;
  margin: 0 auto 0;
  cursor: pointer;
  .bio-head {
    margin: 25px auto 20px;
    font-size: 1.5em;
    border-top: $color_alto_approx 1px solid;
    padding-top: 20px;
  }
  .bio-text {
    font-size: 13px;
  }
  &:hover .bio-icon {
    &:before {
      background: $color_shark_approx;
    }
    &:after {
      background: $color_shark_approx;
    }
    i {
      color: $white;
    }
  }
}
.bio-icon {
  display: block;
  width: 120px;
  height: 120px;
  position: relative;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  z-index: 3;
  margin: 1px auto;
  text-align: center;
  &:before {
    width: 120px;
    height: 120px;
    content: '';
    z-index: 1;
    position: absolute;
    background: $color_curious_blue_approx;
    border: none;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    top: -1px;
    left: -1px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s;
  }
  i {
    font-size: 4em;
    color: $white;
    z-index: 4;
    position: relative;
    line-height: 120px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s;
  }
}

.tmot-more-info-item-box {
  text-align: center;
  margin: 50px auto 0;
  cursor: context-menu;
  .tmot-more-info-item-icon {
    display: block;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s;
    i {
      font-size: 26px;
      color: $white;
      width: 70px;
      height: 70px;
      z-index: 4;
      position: relative;
      line-height: 60px;
      background-color: $color_curious_blue_approx;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 50%;
      border: $black_10 5px solid;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.3s;
    }
  }
  .tmot-more-info-item-header {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 18px;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px $black;
    font-weight: bold;
  }
  &:hover .tmot-more-info-item-icon i {
    background: $black;
  }
}
.tooltip {
  z-index: 999 !important;
  &.top {
    margin-top: -10px;
    .tooltip-arrow {
      border-top-color: $white_95 !important;
    }
  }
  &.bottom {
    margin-top: 20px;
    .tooltip-arrow {
      border-bottom-color: $white_95 !important;
    }
  }
  &.left {
    margin-right: 20px;
    .tooltip-arrow {
      border-left-color: $white_95 !important;
    }
  }
  &.right {
    margin-left: 20px;
    .tooltip-arrow {
      border-right-color: $white_95 !important;
    }
  }
}
.tooltip-inner {
  padding: 15px;
  background: $white_95;
  color: $black;
  font-size: 13px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  min-width: 170px;
}
.f-box {
  text-align: center;
  cursor: default;
  margin: 60px auto 0;
  .feature-head {
    margin: 25px auto 20px;
    font-size: 1.5em;
    border-top: $color_tundora_approx 1px solid;
    padding-top: 20px;
    color: $color_celeste_approx;
  }
  .feature-text {
    font-size: 14px;
    color: $color_suva_gray_approx;
    line-height: 22px;
  }
  &:hover .f-icon i {
    background: $color_woodsmoke_approx;
  }
}


.t-slides {
  max-width: 970px;
  margin: 0 auto;
  max-height: 500px;
  overflow: hidden;
  background: none;
  li.tmot-memo-box {
    position: absolute;
    height: auto;
    &:last-child:after {
      clear: both;
    }
  }
}
.tmot-memo-box {
  h1 {
    font-size: 2em;
    line-height: 1.5em;
  }
  p {
    margin: 20px;
    font-size: 18px;
    color: $color_storm_dust_approx;
    text-align: right;
  }
}
#callout {
  padding: 55px 0;
  background: $color_mine_shaft_approx $url_6 repeat;
  h1 {
    color: $white;
  }
  p {
    color: $color_suva_gray_approx;
  }
}
#blockquote {
  background: $color_curious_blue_approx;
  padding: 45px 0 35px;
  border-top: $black_10 8px solid;
  border-bottom: $black_10 8px solid;
  p.blockquote {
    font-size: 44px;
  }
  i.fa {
    padding-left: 40px;
  }
}
#biolist {
  background: $url_20 top fixed;
  ul.timeline {
    width: 100%;
    max-width: 1170px;
    margin: 50px auto 0;
    display: block;
    background: $url_21 center center repeat-y;
    position: relative;
    height: auto;
    padding: 0 0 150px;
    li {
      &.time {
        width: 75px;
        height: 75px;
        position: relative;
        clear: both;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
        background: $color_log_cabin_approx;
        text-align: center;
        color: $white;
        line-height: 75px;
        font-size: 20px;
        margin: 30px auto;
        cursor: default;
        + li.note {
          margin-top: -5px;
        }
      }
      &.today {
        background: $color_curious_blue_approx;
        color: $white;
        margin: 40px auto;
      }
      &.note {
        width: 46%;
        min-height: 100px;
        float: right;
        background: $mine_shaft_95;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 1px 4px $black_40;
        border: none;
        margin: 35px 0;
        position: relative;
        text-align: left;
        padding: 24px;
        cursor: pointer;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all 0.3s;
        .button {
          font-size: 13px;
          font-weight: 600;
          background-color: $color_curious_blue_approx;
          //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          box-shadow: 0 1px 4px $black_10;
          &:hover {
            background-color: $color_mine_shaft_approx;
          }
          i {
            padding: 0 0 0 4px;
            font-size: 14px;
          }
        }
        img {
          width: 100%;
        }
        &:nth-of-type(2n) {
          float: left;
          clear: left;
          &:after {
            right: -8.6%;
            left: auto;
          }
          .note-arrow {
            left: 100%;
            right: auto;
            border-left: 0 solid;
            border-left-color: rgba(0,0,0,0);
            border-right: none;
            &:after {
              border-left: 0 solid;
              border-left-color: rgba(0,0,0,0);
              border-top: 0 solid transparent;
              border-bottom: 0 solid transparent;
              border-right: none;
              right: 1px;
              left: auto;
            }
          }
          .timeline-images a.timeline-image {
            float: right;
            margin-left: 15px;
            margin-right: 0;
          }
        }
        &:after {
          content: '';
          position: absolute;
          left: -8.7%;
          right: auto;
          display: block;
          width: 50px;
          height: 1px;
          background: $color_log_cabin_approx;
          top: 50%;
          z-index: 20;
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform: translateY(-50%);
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: all 0.3s;
        }
        &:hover {
          span.note-arrow {
            border-right-color: $color_curious_blue_approx;
            &:after {
              border-right-color: $color_curious_blue_approx;
            }
          }
          &:nth-of-type(2n) span.note-arrow {
            border-left-color: $color_curious_blue_approx;
            &:after {
              border-left-color: $color_curious_blue_approx;
            }
          }
        }
      }
      &.start {
        clear: both;
        width: 60px;
        height: 60px;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        margin-bottom: -30px;
        bottom: 0;
        background: $color_curious_blue_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
        a {
          width: 60px;
          height: 60px;
          display: block;
          color: $white;
          font-size: 2em;
          line-height: 55px;
          text-align: center;
          //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
          border-radius: 50%;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: all 0.3s;
          &:hover {
            background: $black;
          }
        }
      }
    }
  }
}
.biolist {
  padding-bottom: 0;
}
.note-arrow {
  position: absolute;
  right: 100%;
  left: auto;
  top: 50%;
  display: block;
  border-right: 0 solid;
  border-right-color: rgba(0,0,0,0);
  border-left: none;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translateY(-50%);
  &:after {
    content: '';
    position: absolute;
    left: 1px;
    right: auto;
    top: 0;
    display: block;
    border-right: 0 solid;
    border-right-color: rgba(0,0,0,0);
    border-left: none;
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(-50%);
  }
}
.timeline-images {
  width: 90%;
  position: absolute;
  bottom: -35px;
  height: auto;
  a.timeline-image {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    margin-left: 0;
    float: left;
    display: block;
    position: relative;
    img {
      width: 70px;
      height: 70px;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 10%;
      border: none;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.3s;
    }
  }
}
.galleryup {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 33.29%;
  margin: 0 auto 0;
}

.morenews {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 1170px;
  text-align: left;
  padding: 0;
}
.filter-menu {
  margin: 15px 0 10px;
  text-align: right;
  padding-right: 20px;
  padding-top: 0;
  ul li {
    display: inline-block;
    margin: 0 2px;
    a {
      padding: 7px 16px;
      background: $color_log_cabin_approx;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 3px;
      color: $color_suva_gray_approx;
      font-size: 11px;
      line-height: 36px;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.3s;
      &:hover {
        background: $color_curious_blue_approx;
        border: none;
        color: $white;
      }
      &.selected {
        background: $color_curious_blue_approx;
        border: none;
        color: $white;
      }
    }
  }
}
.tmot-bio-item-image {
  width: 100%;
  position: relative;
  height: auto;
  margin: 0;
  padding: 0;
  background: $color_curious_blue_approx;
  a {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      cursor: pointer;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.3s;
    }
    span.positive {
      display: block;
      width: 43px;
      height: 43px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -21px;
      margin-left: -21px;
      background: $url_22;
      opacity: 0;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: scale(0.1);
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.3s;
    }
  }
  &:hover a {
    img {
      opacity: 0.3;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: scale(1.1);
    }
    span.positive {
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: scale(1);
      opacity: 1;
    }
  }
}
.tmot-bio-item-bottom {
  padding: 16px;
  background: $color_mine_shaft_approx;
  p {
    &.tmot-bio-item-name {
      color: $color_celeste_approx;
      font-size: 15px;
    }
    &.tmot-bio-item-category {
      color: $color_suva_gray_approx;
      font-size: 13px;
    }
  }
  a {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: center;
    line-height: 40px;
    background: $color_fuscous_gray_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s;
    color: $white;
    &:hover {
      background: $black;
    }
    span.arrow {
      display: block;
      position: relative;
      width: 12px;
      height: 17px;
      top: 50%;
      margin: 0 auto;
      background: $url_23 center center no-repeat;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: translateY(-50%);
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.3s;
    }
    &.tmot-bio-item-link:hover span.arrow {
      background: $url_24 center center no-repeat;
    }
  }
}
.isotope-item {
  z-index: 2;
}
.isotope {
  //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
  transition-duration: 0.8s;
  //Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
  transition-property: height, width;
  .isotope-item {
    //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
    transition-duration: 0.8s;
    //Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
    transition-property: transform, opacity;
    &.no-transition {
      //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
      transition-duration: 0s;
    }
  }
  &.no-transition {
    //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
    transition-duration: 0s;
    .isotope-item {
      //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
      transition-duration: 0s;
    }
  }
}
#tmot-box-closer {
  position: relative;
  padding: 10px 0;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}
.tmot-box-closer {
  position: relative;
  padding: 0 0 20px;
  display: none;
  margin: 15px auto;
  text-align: center;
  background: $color_mine_shaft_approx;
  border-top: $color_tundora_approx 2px solid;
  border-bottom: $color_tundora_approx 2px solid;
  .cls-btn .close {
    position: relative;
    display: inline-block;
    color: $color_gallery_approx;
    top: 0;
    margin: 0;
    width: auto;
    height: auto;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    float: none;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s;
  }
}
.extended-project {
  h1 {
    color: $color_gallery_approx !important;
    font-weight: 600;
  }
  p {
    color: $color_suva_gray_approx;
  }
  .button {
    background: $color_tundora_approx;
  }
}
.project-controls {
  position: relative;
  width: 100%;
  height: auto;
  top: 15px;
  max-width: 1170px;
  margin: 10px auto;
}
.tmot-box-closer-inner {
  position: relative;
  top: 0;
}
.cls-btn {
  width: 100%;
  padding: 0;
  margin: 0 auto 0;
  display: block;
  height: auto;
}
.project {
  position: relative;
  text-align: left;
  ul {
    &.flex-direction-nav {
      display: block;
      opacity: 1;
      li a {
        width: 31px;
        height: 52px;
        top: 50%;
        background: $color_rangoon_green_approx center center no-repeat;
        opacity: 0.8;
        margin-top: -26px;
        &.flex-prev {
          left: 0;
          background-image: $url_25;
        }
        &.flex-next {
          background-image: $url_26;
          right: 0;
          left: auto;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    &.project-slides li.slide img {
      width: 100%;
    }
  }
}
.project-header {
  text-align: left;
  font-size: 25px;
  margin: 0 0 10px;
  padding: 30px 0 0;
}
.project-desc {
  text-align: left;
  font-size: 13px;
}
.project-detail {
  text-align: left;
  padding: 10px 0;
  font-size: 16px;
  margin: 0;
}
#tmot-news {
  border-bottom: none;
  .tmot-news .tmot-news-items {
    margin: 30px auto 0;
  }
}
.tmot-news-items {
  .tmot-news-piece {
    margin: 15px auto;
    cursor: default;
    overflow: hidden;
    .tmot-news-inner {
      position: relative;
    }
    a.tmot-news-image {
      display: block;
      width: 100%;
      height: auto;
      z-index: 2;
      img {
        width: 100%;
      }
    }
    &:hover .tmot-news-piece-details {
      bottom: 0;
    }
  }
  .tmot-news-piece-details {
    .tmot-news-piece-name {
      color: $white;
      margin-top: 0;
      padding-top: 0;
      font-size: 30px;
    }
    .tmot-news-piece-position {
      color: $color_curious_blue_approx;
      font-size: 13px;
    }
    .tmot-news-piece-description {
      color: $white;
      font-size: 13px;
    }
  }
}

::-webkit-input-placeholder {
  color: $color_dove_gray_approx;
}
:-moz-placeholder {
  color: $color_dove_gray_approx;
}
::-moz-placeholder {
  color: $color_dove_gray_approx;
}
:-ms-input-placeholder {
  color: $color_dove_gray_approx;
}

.page_header_inner {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  h1 {
    font-size: 40px;
    margin: 0;
    color: $white;
  }
  p {
    font-size: 14px;
    color: $color_gallery_approx;
    margin: 0;
  }
}
.block {
  display: inline;
}
b.caret {
  margin: -3px 0 auto 5px;
}
.pattern-white:after {
  background: $url_4 repeat;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.25;
}
.pattern-black:after {
  background: $url_5 repeat;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.25;
}
.home-categories .h-item:last-child {
  background: none;
}
.slides-container div {
  background-size: 100%;
}
#slides .slides-container {
  div {
    background-position: center center;
    background-attachment: fixed;
  }
  .image1 {
    background-image: $url_10;
  }
  .image2 {
    background-image: $url_11;
  }
  .image3 {
    background-image: $url_12;
  }
  .image4 {
    background-image: $url_13;
  }
}
.current .home-arrow {
  margin: 0 auto;
  left: 50%;
  bottom: 12%;
  position: absolute;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translateX(-50%);
  &:hover {
    color: $white;
  }
}
.nav li {
  display: inline-block;
  height: 100%;
  a {
    display: block;
    height: 100%;
    line-height: 54px;
    color: $color_fuscous_gray_approx;
    font-size: 1.05em;
    font-weight: 600;
    padding: 10px 8px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s;
    font-family: $font_0, $font_1;
  }
}
#bio .inner .boxes {
  overflow: hidden;
  &:after {
    clear: both;
  }
}
.f-icon i {
  font-size: 3em;
  color: $white;
  background: $color_curious_blue_approx;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.3s;
  border: $black_20 5px solid;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  padding: 30px;
  width: 110px;
}
li.note {
  p {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s;
    &.biolist-date {
      font-size: 1.4em;
      color: $color_suva_gray_approx;
      padding: 15px;
      text-align: center;
    }
    &.biolist-head {
      font-size: 1.4em;
      margin: 12px auto 3px auto;
      color: $color_suva_gray_approx;
      text-align: center;
    }
    &.biolist-desc {
      font-size: 13px;
      color: $color_celeste_approx;
      padding: 10px 0;
    }
  }
  span {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s;
    &:after {
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.3s;
    }
  }
}
.morenews-items .tmot-bio-item {
  height: auto;
  position: relative;
  padding: 3px;
  .tmot-bio-item-inner {
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
  }
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.expander-close:hover {
  color: $color_suva_gray_approx;
  cursor: pointer;
}
.inner-details .tmot-news-piece-details {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  padding: 15px;
  bottom: 100%;
  margin: 0;
  z-index: 3;
  opacity: 0.9;
  background: $color_curious_blue_approx;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.4s;
  .tmot-news-piece-details-inner {
    position: relative;
    top: 50%;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(-50%);
  }
}
.tmot-news-piece .tmot-news-piece-details .tmot-news-piece-details-inner .socials {
  margin: 10px auto 0;
  a {
    display: inline-block;
    color: $white;
    font-size: 1.2em;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background: $black_25;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 0.3s;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    &:hover {
      background: $black_100;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 50%;
    }
  }
}
section.page_header {
  margin-top: 0;
  padding: 220px 0 50px 0;
  position: relative;
  top: 0;
  background: $url_7 bottom center fixed;
}