ul {
  &.nav ul.dropdown-menu {
    padding: 0;
    margin: 0;
    border: none;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
    background: $white_97;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 4px $black_25;
    li {
      width: 100%;
      height: auto;
      a {
        height: auto;
        padding: 10px;
        margin: 0;
        display: block;
        width: 100%;
        color: $color_woodsmoke_approx;
        line-height: 20px;
        border: none;
        font-size: 1em;
      }
    }
  }
  &.dropdown-menu li a:hover {
    border: none;
    background: $black_10;
    color: $color_curious_blue_approx !important;
  }
}

#navigation {
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 1031;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.5s;
  .mini-nav-button {
    color: $color_tapa_approx;
    display: none;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 50%;
    cursor: pointer;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(-50%);
    &:hover {
      color: $color_curious_blue_approx;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 0.3s;
    }
  }
}
.not-visible-nav {
}
.visible-nav {
  top: 0;
}
.white-nav {
  background: $white_90;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 4px $black_50;
  li {
    a {
      &:hover {
        background: $color_alto_approx;
        color: $color_curious_blue_approx;
      }
      &:focus {
        background: $color_curious_blue_approx;
        color: $white !important;
      }
    }
    &.active a {
      color: $color_curious_blue_approx;
    }
  }
  .site-logo a.logo {
    color: $color_woodsmoke_approx;
    display: block;
  }
}
.dark-nav {
  background: $black_60;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 4px $black_50;
  ul {
    &.dropdown-menu {
      background: $black_90 !important;
      li a {
        color: $white;
        &:hover {
          border: none;
          background: $color_storm_dust_25_approx;
        }
      }
    }
    &.nav ul.dropdown-menu li a {
      color: $color_celeste_approx;
    }
  }
  .site-logo a.logo {
    color: $white;
    display: block;
  }
  .nav li {
    a {
      color: $color_celeste_approx;
      &:hover {
        background: $color_log_cabin_approx;
        color: $color_curious_blue_approx;
      }
      &:focus {
        background: $color_curious_blue_approx;
        color: $white !important;
      }
    }
    &.active a {
      color: $color_curious_blue_approx;
    }
  }
}
.soft-nav {
  background: $white_5;
}
.nav-inner {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  &:after {
    clear: both;
  }
}
.site-logo {
  font-size: 3.5em;
  float: left;
  position: relative;
  padding-top: 8px;
  top: 50%;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translateY(-50%);
  a.logo img {
    height: auto;
    max-height: 189px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 1s;
  }
}
.nav-menu {
  float: right;
  height: 100%;
  ul.nav {
    height: 100%;
  }
}

